@import url(http://fonts.googleapis.com/css?family=Fauna+One|Muli);
/*//to load google fonts in our page.*/
#form{
background-color:white;
color:#123456;
border: 1px solid #ccc;
border-radius: 5px;
font-Weight:400;
width:350px;
margin:5px 5px 5px 5px;
float:left;
height:620px;
}
#form div{
padding:5px 0 0 10px;
}
h3{
margin-top:0px;
color:white;
background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;text-align:center;
width:100%;
height:50px;
padding-top:30px;
}
#mainform{
width:260px;
margin:20px auto;
padding-top:20px;
font-family: 'Fauna One', serif;
}
#mainform h2{
width:100%; float:right;
}
input{
width:90%;
height:30px;
margin-top:15px;
margin-bottom:15px;
border-radius:5px;
padding:2px;
border: 1px solid #ccc;
padding-left:5px; 
}
.innerdiv{
width:100%; float:left;
}
#submitbutton{
background-color:#6ab04c;
border:1px solid white;
font-family: 'Fauna One', serif;
font-Weight:bold;
float: right;
font-size:16px;
color:white;
border-radius:5px; 
width: 200px;
height: 40px;
margin-right: 20px;

}
#clear{clear:both;
}
/*CSS for right side advertizement*/
#formget{
float:right;
width:30%;
margin-top:30px;
}

*, *:before, *:after {
}

@media (min-width: 600px) {
  body {
    padding: 60px;
  }
}
.range-slider {
  padding-left: 0px !important;
}
.range-slider {
  width: 100%;
}
.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
  background: #1abc9c;
}
.range-slider__value {
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
}
::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}
input::-moz-focus-inner, input::-moz-focus-outer {
  border: 0;
}

input
{
    border-radius: 5px;
}

label
{
    margin-top: 30px;
    font-size: 17px;
    color: black;
}

 .box{
        color: #fff;
        padding: 20px;
        display: none;
        margin-top: 20px;
    }
    .red{ background: #ff0000; }
    .green{ background: #228B22; }
    .blue{ background: #0000ff; }
    label{ margin-right: 15px; }

#checkb input
{
    width: 0px !important;height: 0px !important;
    
}

.button-group input {
  display: none;
}

.button-group
{
    padding-top: 20px !important;
    padding-left: 0px !important;
}
.button-group input:checked + label, .button-group input:checked + label:active {
  background-color: #f6e58d;
}

.button-group label
{
    border: 1px solid #ccc;
    padding: 3px;
    border-radius: 5px;
    color: #666;
    font-size: 16px;
}

.sec
{
    padding-bottom: 10px !important;
}

